main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222;
  padding: 20px;
  overflow: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h2{
  color: white;
  font-size: 2.2rem;
  margin-bottom: 5px;
}

.title .underline{
  width: 100px;
  margin: auto;
  height: 4px;
  background-color: white;
  position: relative;
}

.title span{
  position: absolute;
  width: 70%;
  height: 4px;
  background-color: darkturquoise;
}


